In [4]:
pwd

'C:\\Users\\Suneel Kumar Sagar'

In [5]:
cd desktop

C:\Users\Suneel Kumar Sagar\desktop

In [6]:
cd datamitea

C:\Users\Suneel Kumar Sagar\desktop\datamitea

In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [48]:
from sklearn.metrics import accuracy_score
from sklearn.neural_network import MLPClassifier
model=MLPClassifier(learning_rate_init=0.095,
                        hidden_layer_sizes=(40,20),
                   random_state=10)
model.fit(X_train,y_train)
y_predict=model.predict(X_test)
print(accuracy_score(y_test,y_predict))
pd.crosstab(y_test,y_predict)

1.0

col_0     0   1
outcome
0        39   0
1         0  75

In [49]:
print(X_train.shape)
print(y_train)

(455, 30)
567    0
295    1
91     0
1      0
94     0
403    1
508    1
118    0
279    1
181    0
296    1
88     1
72     0
230    0
195    1
142    1
438    1
114    1
184    0
287    1
98     1
392    0
413    1
203    0
545    1
161    0
434    1
59     1
164    0
327    1
      ..
409    1
13     0
453    1
77     0
548    1
200    1
122    0
363    1
344    1
54     0
395    1
239    0
356    1
528    1
371    1
420    1
502    1
40     0
490    1
256    0
73     0
8      0
496    1
156    0
123    1
369    0
320    1
527    1
125    1
265    0
Name: outcome, Length: 455, dtype: int64

In [9]:
data=pd.read_csv('breast_cancer.csv')

In [ ]:
MLPClassifier

In [28]:
data.head()

,mean radius,mean texture,mean perimeter,mean area,mean smoothness,mean compactness,mean concavity,mean concave points,mean symmetry,mean fractal dimension,...,worst texture,worst perimeter,worst area,worst smoothness,worst compactness,worst concavity,worst concave points,worst symmetry,worst fractal dimension,outcome
0,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,0.2419,0.07871,...,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890,0
1,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,0.1812,0.05667,...,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902,0
2,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,0.2069,0.05999,...,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758,0
3,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,0.2597,0.09744,...,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300,0
4,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,0.1809,0.05883,...,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678,0

In [29]:
X=data.iloc[:,:-1]
y=data.outcome
from sklearn.preprocessing import scale
X=scale(X)

from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=10)

In [64]:
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC
model=SVC(kernel='rbf',C=7,gamma=0.001)
model.fit(X_train,y_train)
y_predict=model.predict(X_test)
print(accuracy_score(y_test,y_predict))
pd.crosstab(y_test,y_predict)

1.0

col_0     0   1
outcome
0        39   0
1         0  75

In [23]:
SVC()

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='rbf', max_iter=-1, probability=False, random_state=None,
  shrinking=True, tol=0.001, verbose=False)